In [20]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from adspy_shared_utilities import plot_class_regions_for_classifier_subplot
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [61]:
train_clientes = pd.read_excel('train_clientes.xlsx')
print(train_clientes.shape)
train_clientes.head()

(70000, 53)

,ID_CORRELATIVO,CODMES,FLG_BANCARIZADO,RANG_INGRESO,FLAG_LIMA_PROVINCIA,EDAD,ANTIGUEDAD,ATTRITION,RANG_SDO_PASIVO_MENOS0,SDO_ACTIVO_MENOS0,...,NRO_ENTID_SSFF_MENOS2,NRO_ENTID_SSFF_MENOS3,NRO_ENTID_SSFF_MENOS4,NRO_ENTID_SSFF_MENOS5,FLG_SDO_OTSSFF_MENOS0,FLG_SDO_OTSSFF_MENOS1,FLG_SDO_OTSSFF_MENOS2,FLG_SDO_OTSSFF_MENOS3,FLG_SDO_OTSSFF_MENOS4,FLG_SDO_OTSSFF_MENOS5
0,35653,201208,1,Rang_ingreso_06,Lima,25.0,6.0,0,Rango_SDO_09,0,...,1,1,1,1,1,0,0,0,0,0
1,66575,201208,1,Rang_ingreso_03,Provincia,27.0,0.0,0,Rango_SDO_01,0,...,1,1,1,1,0,0,0,0,0,0
2,56800,201208,1,Rang_ingreso_01,Provincia,34.0,4.0,0,Rango_SDO_02,0,...,0,0,0,0,0,0,0,0,0,0
3,8410,201208,1,Rang_ingreso_04,Provincia,63.0,5.0,0,Rango_SDO_03,0,...,3,3,3,3,1,1,1,1,1,1
4,6853,201208,1,NaN,Lima,25.0,0.0,0,Rango_SDO_01,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
X = train_clientes.drop(['ATTRITION'], axis=1)
X.set_index('ID_CORRELATIVO',inplace=True)
print(X.shape)
X.head()

(70000, 51)

,CODMES,FLG_BANCARIZADO,RANG_INGRESO,FLAG_LIMA_PROVINCIA,EDAD,ANTIGUEDAD,RANG_SDO_PASIVO_MENOS0,SDO_ACTIVO_MENOS0,SDO_ACTIVO_MENOS1,SDO_ACTIVO_MENOS2,...,NRO_ENTID_SSFF_MENOS2,NRO_ENTID_SSFF_MENOS3,NRO_ENTID_SSFF_MENOS4,NRO_ENTID_SSFF_MENOS5,FLG_SDO_OTSSFF_MENOS0,FLG_SDO_OTSSFF_MENOS1,FLG_SDO_OTSSFF_MENOS2,FLG_SDO_OTSSFF_MENOS3,FLG_SDO_OTSSFF_MENOS4,FLG_SDO_OTSSFF_MENOS5
ID_CORRELATIVO,,,,,,,,,,,,,,,,,,,,,
35653,201208,1,Rang_ingreso_06,Lima,25.0,6.0,Rango_SDO_09,0,0,0,...,1,1,1,1,1,0,0,0,0,0
66575,201208,1,Rang_ingreso_03,Provincia,27.0,0.0,Rango_SDO_01,0,0,0,...,1,1,1,1,0,0,0,0,0,0
56800,201208,1,Rang_ingreso_01,Provincia,34.0,4.0,Rango_SDO_02,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8410,201208,1,Rang_ingreso_04,Provincia,63.0,5.0,Rango_SDO_03,0,0,0,...,3,3,3,3,1,1,1,1,1,1
6853,201208,1,NaN,Lima,25.0,0.0,Rango_SDO_01,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
y = train_clientes['ATTRITION']
print(y.shape)
y.head()

(70000,)

0    0
1    0
2    0
3    0
4    0
Name: ATTRITION, dtype: int64

In [72]:
train_req = pd.read_excel('train_requerimientos.xlsx')
train_req.set_index('ID_CORRELATIVO', inplace=True)
print(train_req.shape)
train_req.head()

(51417, 5)

,TIPO_REQUERIMIENTO2,DICTAMEN,CODMES,PRODUCTO_SERVICIO_2,SUBMOTIVO_2
ID_CORRELATIVO,,,,,
64216,Reclamo,NO PROCEDE,201206,Producto 20,Submotivo 43
64216,Solicitud,NO PROCEDE,201205,Producto 20,Submotivo 157
35660,Reclamo,PROCEDE TOTAL,201208,Producto 17,Submotivo 89
22480,Reclamo,PROCEDE TOTAL,201208,Producto 07,Submotivo 27
24691,Solicitud,PROCEDE TOTAL,201208,Producto 20,Submotivo 132

In [83]:
train_req_encoded = pd.get_dummies(train_req)
train_req_encoded.head()
train_req_encoded.shape

(51417, 113)

In [87]:
train_req_encoded.head()

,CODMES,TIPO_REQUERIMIENTO2_Reclamo,TIPO_REQUERIMIENTO2_Solicitud,DICTAMEN_NO PROCEDE,DICTAMEN_PROCEDE PARCIAL,DICTAMEN_PROCEDE TOTAL,PRODUCTO_SERVICIO_2_Producto 01,PRODUCTO_SERVICIO_2_Producto 02,PRODUCTO_SERVICIO_2_Producto 03,PRODUCTO_SERVICIO_2_Producto 04,...,SUBMOTIVO_2_Submotivo 87,SUBMOTIVO_2_Submotivo 88,SUBMOTIVO_2_Submotivo 89,SUBMOTIVO_2_Submotivo 90,SUBMOTIVO_2_Submotivo 91,SUBMOTIVO_2_Submotivo 92,SUBMOTIVO_2_Submotivo 95,SUBMOTIVO_2_Submotivo 96,SUBMOTIVO_2_Submotivo 98,SUBMOTIVO_2_Submotivo 99
ID_CORRELATIVO,,,,,,,,,,,,,,,,,,,,,
64216,201206,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64216,201205,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35660,201208,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
22480,201208,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24691,201208,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
train_req_group = train_req_encoded.groupby('ID_CORRELATIVO').agg({'TIPO_REQUERIMIENTO2_Reclamo': np.sum, 'TIPO_REQUERIMIENTO2_Solicitud': np.sum, 'DICTAMEN_NO PROCEDE': np.sum, 'DICTAMEN_PROCEDE PARCIAL': np.sum, 'DICTAMEN_PROCEDE TOTAL': np.sum})
train_req_group.shape
#train_req_group.head()

(35026, 5)

In [95]:
features_encoded.loc[35653]['TIPO_REQUERIMIENTO2_Solicitud']

0.0

In [90]:
#Merge the features from train_clientes and traing_requerimientos based on the ID_CORRELATIVO
featuresMerged = pd.merge(X, train_req_group, left_index=True, right_index=True, how='left')
featuresMerged.shape
#featuresMerged.head()

(70000, 56)

In [91]:
features_encoded = pd.get_dummies(featuresMerged)
features_encoded.head()

,CODMES,FLG_BANCARIZADO,EDAD,ANTIGUEDAD,SDO_ACTIVO_MENOS0,SDO_ACTIVO_MENOS1,SDO_ACTIVO_MENOS2,SDO_ACTIVO_MENOS3,SDO_ACTIVO_MENOS4,SDO_ACTIVO_MENOS5,...,RANG_SDO_PASIVO_MENOS0_Rango_SDO_11,RANG_SDO_PASIVO_MENOS0_Rango_SDO_12,RANG_SDO_PASIVO_MENOS0_Rango_SDO_13,RANG_SDO_PASIVO_MENOS0_Rango_SDO_14,RANG_NRO_PRODUCTOS_MENOS0_Rango_01,RANG_NRO_PRODUCTOS_MENOS0_Rango_02,RANG_NRO_PRODUCTOS_MENOS0_Rango_03,RANG_NRO_PRODUCTOS_MENOS0_Rango_04,RANG_NRO_PRODUCTOS_MENOS0_Rango_05,RANG_NRO_PRODUCTOS_MENOS0_Rango_06
ID_CORRELATIVO,,,,,,,,,,,,,,,,,,,,,
35653,201208,1,25.0,6.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
66575,201208,1,27.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
56800,201208,1,34.0,4.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8410,201208,1,63.0,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6853,201208,1,25.0,0.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [96]:
features_cleaned = features_encoded.fillna(0)
features_cleaned.head()
features_cleaned.shape

(70000, 84)

In [97]:
X_train, X_test, y_train, y_test = train_test_split(features_cleaned, y, random_state = 0)


#fig, subaxes = plt.subplots(1, 1, figsize=(6, 6))

clf_RF = RandomForestClassifier().fit(X_train, y_train)
#title = 'Random Forest Classifier, default settings'
#plot_class_regions_for_classifier_subplot(clf_RF, X_train, y_train, X_test, y_test, title, subaxes)
#plt.show()

train_score = clf_RF.predict(X_train)
f1_train = f1_score(y_train, train_score, average='micro')  
print("Train F1 score: %f" % f1_train)
prediction = clf_RF.predict(X_test)
f1_test = f1_score(y_test, prediction, average='micro')  
print("Test F1 score: %f" % f1_test)

Train F1 score: 0.982000
Test F1 score: 0.863543

In [99]:
test_clientes = pd.read_excel('test_clientes.xlsx')
test_clientes.set_index('ID_CORRELATIVO',inplace=True)
print(test_clientes.shape)
test_clientes.head()

(30000, 51)

,CODMES,FLG_BANCARIZADO,RANG_INGRESO,FLAG_LIMA_PROVINCIA,EDAD,ANTIGUEDAD,RANG_SDO_PASIVO_MENOS0,SDO_ACTIVO_MENOS0,SDO_ACTIVO_MENOS1,SDO_ACTIVO_MENOS2,...,NRO_ENTID_SSFF_MENOS2,NRO_ENTID_SSFF_MENOS3,NRO_ENTID_SSFF_MENOS4,NRO_ENTID_SSFF_MENOS5,FLG_SDO_OTSSFF_MENOS0,FLG_SDO_OTSSFF_MENOS1,FLG_SDO_OTSSFF_MENOS2,FLG_SDO_OTSSFF_MENOS3,FLG_SDO_OTSSFF_MENOS4,FLG_SDO_OTSSFF_MENOS5
ID_CORRELATIVO,,,,,,,,,,,,,,,,,,,,,
47411,201208,0,Rang_ingreso_03,NaN,NaN,0.0,Rango_SDO_01,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39861,201208,1,Rang_ingreso_03,Provincia,37.0,0.0,Rango_SDO_01,0,0,0,...,2,2,2,2,0,0,0,0,0,1
38898,201208,1,Rang_ingreso_04,Lima,26.0,4.0,Rango_SDO_04,0,0,0,...,3,3,3,3,1,1,1,1,1,1
50927,201208,1,Rang_ingreso_02,Lima,34.0,4.0,Rango_SDO_07,0,0,0,...,1,1,0,0,0,0,0,0,0,0
32969,201208,1,Rang_ingreso_03,Lima,22.0,2.0,Rango_SDO_01,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
test_req = pd.read_excel('test_requerimientos.xlsx')
test_req.set_index('ID_CORRELATIVO', inplace=True)
print(test_req.shape)
test_req.head()

(21723, 5)

,TIPO_REQUERIMIENTO2,DICTAMEN,CODMES,PRODUCTO_SERVICIO_2,SUBMOTIVO_2
ID_CORRELATIVO,,,,,
39048,Reclamo,PROCEDE TOTAL,201206,Producto 18,Submotivo 125
39048,Reclamo,NO PROCEDE,201205,Producto 18,Submotivo 125
98389,Solicitud,PROCEDE TOTAL,201208,Producto 07,Submotivo 160
96233,Solicitud,PROCEDE TOTAL,201207,Producto 07,Submotivo 144
96233,Reclamo,NO PROCEDE,201207,Producto 18,Submotivo 65

In [101]:
test_req_encoded = pd.get_dummies(test_req)
test_req_encoded.head()
test_req_encoded.shape

(21723, 107)

In [105]:
test_req_group = test_req_encoded.groupby('ID_CORRELATIVO').agg({'TIPO_REQUERIMIENTO2_Reclamo': np.sum, 'TIPO_REQUERIMIENTO2_Solicitud': np.sum, 'DICTAMEN_NO PROCEDE': np.sum, 'DICTAMEN_PROCEDE PARCIAL': np.sum, 'DICTAMEN_PROCEDE TOTAL': np.sum})
test_req_group.shape

(14974, 5)

In [106]:
featuresMerged_test = pd.merge(test_clientes, test_req_group, left_index=True, right_index=True, how='left')
featuresMerged_test.shape

(30000, 56)

In [107]:
features_encoded_test = pd.get_dummies(featuresMerged_test)
features_encoded_test.head()

,CODMES,FLG_BANCARIZADO,EDAD,ANTIGUEDAD,SDO_ACTIVO_MENOS0,SDO_ACTIVO_MENOS1,SDO_ACTIVO_MENOS2,SDO_ACTIVO_MENOS3,SDO_ACTIVO_MENOS4,SDO_ACTIVO_MENOS5,...,RANG_SDO_PASIVO_MENOS0_Rango_SDO_11,RANG_SDO_PASIVO_MENOS0_Rango_SDO_12,RANG_SDO_PASIVO_MENOS0_Rango_SDO_13,RANG_SDO_PASIVO_MENOS0_Rango_SDO_14,RANG_NRO_PRODUCTOS_MENOS0_Rango_01,RANG_NRO_PRODUCTOS_MENOS0_Rango_02,RANG_NRO_PRODUCTOS_MENOS0_Rango_03,RANG_NRO_PRODUCTOS_MENOS0_Rango_04,RANG_NRO_PRODUCTOS_MENOS0_Rango_05,RANG_NRO_PRODUCTOS_MENOS0_Rango_06
ID_CORRELATIVO,,,,,,,,,,,,,,,,,,,,,
47411,201208,0,NaN,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
39861,201208,1,37.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
38898,201208,1,26.0,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
50927,201208,1,34.0,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32969,201208,1,22.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [108]:
features_cleaned_test = features_encoded_test.fillna(0)
features_cleaned_test.head()

,CODMES,FLG_BANCARIZADO,EDAD,ANTIGUEDAD,SDO_ACTIVO_MENOS0,SDO_ACTIVO_MENOS1,SDO_ACTIVO_MENOS2,SDO_ACTIVO_MENOS3,SDO_ACTIVO_MENOS4,SDO_ACTIVO_MENOS5,...,RANG_SDO_PASIVO_MENOS0_Rango_SDO_11,RANG_SDO_PASIVO_MENOS0_Rango_SDO_12,RANG_SDO_PASIVO_MENOS0_Rango_SDO_13,RANG_SDO_PASIVO_MENOS0_Rango_SDO_14,RANG_NRO_PRODUCTOS_MENOS0_Rango_01,RANG_NRO_PRODUCTOS_MENOS0_Rango_02,RANG_NRO_PRODUCTOS_MENOS0_Rango_03,RANG_NRO_PRODUCTOS_MENOS0_Rango_04,RANG_NRO_PRODUCTOS_MENOS0_Rango_05,RANG_NRO_PRODUCTOS_MENOS0_Rango_06
ID_CORRELATIVO,,,,,,,,,,,,,,,,,,,,,
47411,201208,0,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
39861,201208,1,37.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
38898,201208,1,26.0,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
50927,201208,1,34.0,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32969,201208,1,22.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [109]:
prediction_test = clf_RF.predict(features_cleaned_test)
prediction_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [111]:
features_cleaned_test.index.values

array([47411, 39861, 38898, ..., 71044, 14668, 29621], dtype=int64)

In [112]:
#resultToExport = pd.DataFrame(prediction_test)
resultToExport = pd.DataFrame({'ID_CORRELATIVO':features_cleaned_test.index.values, 'ATTRITION':prediction_test})
resultToExport = resultToExport.set_index('ID_CORRELATIVO')
resultToExport.to_csv('test_resultDataFrame.csv')

# Gradient Boosting

In [113]:
clf_GB = GradientBoostingClassifier().fit(X_train, y_train)

train_score_GB = clf_GB.predict(X_train)
f1_train = f1_score(y_train, train_score_GB, average='micro')  
print("Train F1 score: %f" % f1_train)
prediction_GB = clf_GB.predict(X_test)
f1_test = f1_score(y_test, prediction_GB, average='micro')  
print("Test F1 score: %f" % f1_test)

Train F1 score: 0.864248
Test F1 score: 0.865714

In [114]:
prediction_test_GB = clf_GB.predict(features_cleaned_test)
prediction_test_GB

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [115]:
resultToExport_GB = pd.DataFrame({'ID_CORRELATIVO':features_cleaned_test.index.values, 'ATTRITION':prediction_test_GB})
resultToExport_GB = resultToExport_GB.set_index('ID_CORRELATIVO')
resultToExport_GB.to_csv('test_resultDataFrame_GB.csv')